[user]
	name = narieda
	email = narieda@ye-p.co.jp
[color]
	ui = true
[alias]
    tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09%C(cyan)@"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'
    ss   = status
    co   = checkout
    cob  = checkout -b
    b    = branch
    ba   = branch -a
    n    = clone
    mm   = commit
    p    = push

    ## プロジェクト対応alias
    stg  = checkout staging
    dev  = checkout develop
[core]
	editor = vim
[credential]
	helper = cache --timeout=86400
